img {
    width: 30px;
}

button {
    margin-left: 10px;
}

label {
    font-size: 28px;
    width: 200px;
    padding: 1rem;
    display: inline-block; 
    width: 100px;
}

input {
    width: 20px;
    height: 20px;
}
