body{
  background-color: rgb(209, 203, 196);
}

ul {
  list-style-type: none;
  margin-left: 30%;
  /* border: solid 1px rgb(5, 31, 179); */
  width: 40%;
  text-align: center;
  
}

.App {
  border: solid 1px red;
}

.form-wrapper {
  margin-left: 30%;
  width: 40%;
  text-align: center;
}

.filterList {
  margin-top: 20px;
  margin-left: 30%;
  width: 40%;
  text-align: center;
}